{{#if singleQuery}}
<a href="/post/{{id}}" id="post-link">
  <section class="card">
    <div class="card-header">
      <h3 class="post-title">{{post.title}}</h3>
      <div class="post-date">Posted by {{post.user.username}} on {{post.createdAt}}</div>
    </div>
    <p class="post-content">{{post.content}}</p>
  </section>
</a>
{{else}}
{{#each posts as |post|}}
{{> post-details}}
{{/each}}
{{/if}}